*{
    margin: 0px;
}
   body{
       background-color: #fff;
       font-family:'Trebuchet MS';
   }
.bg-img {
    /* The image used */
    background-image: url("../images/ottoback.png");
    min-height: 780px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: -10px;
  }

  /* Position the navbar container inside the image */
  .container {
    position: absolute;
    /* margin: 20px; */
    width: auto;
    margin-left: 10%;
    margin-top: 30px;
  }
  /* The navbar */
  .topnav {
    overflow: hidden;
    float: right;
    margin-right: 7%;
  }

  /* Navbar links */
  .topnav a {
    float: right;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    font-family:'Trebuchet MS';
  }

  .topnav a:hover {
    color: rgb(185, 213, 255);
    font-size: 27px;
  }


  .gallery{
    background-color: #fff;
    display: inline-block;
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
    padding:0px;
    margin-top: 50px;
  }

  .details img {
    background-color: #fff;
    display: block;
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
    text-align: center;
    padding:0px;
    margin-top: 50px;
  }

  .picture{
    height:12em;
    width: 24.9%;
    float: left;
    flex-basis:1% ;
    flex-grow:1.3;
    opacity:0.7;
  }
  .picture:hover {
    opacity:1;
    flex-grow:1.9;
  }

/* .footer{
    text-align: center;
    color: white;
    background-color: #005dc0;
    width: 100%;
    height: 150px;
    margin-top: 200px;
    margin-bottom: 0%;
  margin: 0;
} */


/* .gallery{
  background-color: #fff;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-content:center;
  padding:0px;
  margin-top: 50px;
} */

/* .picture{
  height:12em;
  flex-basis:1% ;
  flex-grow:1.3;
  opacity:0.7;
}
.picture:hover {
  opacity:1;
  flex-grow:1.9; */
/* } */

.footer{
  text-align: center;
  color: white;
  background-color: #005dc0;
  width: 100%;
  height: 200px;
  margin-top: 0px;
  margin-bottom: 0%;
}
.footer{
margin-bottom: 0px;
height: 70%;
width: 100%;
}





  .logo{
    margin-right: 0%;
    width:25%;
    /* height:40px; */
  }
  /* The navbar */
  .topnav {
    overflow: hidden;
    float: right;
    margin-right: 7%;
  }

  /* Navbar links */
  .topnav a {
    float: right;
    color: #fff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 12px;
  }

  .topnav a:hover {
    color: rgb(185, 213, 255);
    font-size: 17px;
}
.container {
  position: absolute;
  margin: 20px;
  width: auto;
  margin-left: 10%;
  margin-top: 30px;
}
/* The navbar */
.topnav {
  /* overflow: hidden; */
  float: right;
  margin-right: 7%;
}

/* Navbar links */
.topnav a {
  float: right;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}

.topnav a:hover {
  color: rgb(185, 213, 255);
  font-size: 17px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin: auto;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  margin-right: 0%;
  text-decoration: none;
  display: inline-block;
}
.dropdown-content span{
  color: black;
  padding: 12px 16px;
  /* text-decoration: none; */
  /* display: block; */
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.button {
  background-color: #0030C2; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  background-color: #4CAF50;
}
